<!doctype html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js " lang="en"> <!--<![endif]-->
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Site Meta -->
    <title>Credit Risk</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">

	<!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet"> 
	
    <!-- Custom & Default Styles -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/carousel.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/style.css">

	<!--[if lt IE 9]>
		<script src="/static/js/vendor/html5shiv.min.js"></script>
		<script src="/static/js/vendor/respond.min.js"></script>
	<![endif]-->
    <style>
        body{
            background-image: url(/static/upload/home-Photoroom.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .header{
            padding-top: 10px;
            background-color: black;
        }
        .home{
            display: flex;
            gap: 550px;
            padding-top: 150px;
        }
        h1{
            color: brown;
            font-family: 'Times New Roman', Times, serif;
            font-size: 40px;
            
           
        } 
        .h1 p{
            color: black;
            font-size: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        } 
    </style>
</head>
<body>  

    <!-- LOADER -->
    <div id="preloader">
        <img class="preloader" src="/static/images/loader.gif" alt="">
    </div><!-- end loader -->
    <!-- END LOADER -->

    <div id="wrapper">
        <!-- BEGIN # MODAL LOGIN -->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Begin # DIV Form -->
                    <div id="div-forms">
                        <form id="login-form">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="flaticon-add" aria-hidden="true"></span>
                            </button>
                            <div class="modal-body">
                                <input class="form-control" type="text" placeholder="What you are looking for?" required>
                            </div>
                        </form><!-- End # Login Form -->
                    </div><!-- End # DIV Form -->
                </div>
            </div>
        </div>
        <!-- END # MODAL LOGIN -->

        <header class="header">
            <div class="container">
                <nav class="navbar navbar-default yamm">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="logo-normal">
                            <a class="navbar-brand" href="{% url 'home' %}"><h3 style="text-decoration: none; color: azure; padding-bottom: 20px; text-align: center;"><b>CREDIT Risk</b></h3></a>
                        </div>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'home' %}">Home</a></li>
                          
                            <li><a href="{% url 'view' %}">View</a></li>

                            <li><a href="{% url 'model' %}">Model Train</a></li>
                            
                            <li><a href="{% url 'predict' %}">Prediction</a></li>

                            <li><a href="{% url 'custom_logout' %}">Logout</a></li>
                            
                        </ul>
                    </div>
                </nav><!-- end navbar -->
            </div><!-- end container -->
        </header>

        <section>
            <div class="home">
                <div></div>
                <div class="h1">
                    <h1><b>Welcome To Predicting Risk Level of Loan</b></h1>
                    <p>The system aspires to deliver accurate and actionable insights,<br> fostering improved credit management and financial stability for all stakeholders.</p>
                </div>
            </div>
        </section>
    </div><!-- end wrapper -->

    <!-- jQuery Files -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/carousel.js"></script>
    <script src="/static/js/animate.js"></script>
    <script src="/static/js/custom.js"></script>
    <!-- VIDEO BG PLUGINS -->
    <script src="/static/js/videobg.js"></script>

</body>
</html>